// colors
$card-table-green = #1c5e3d
$card-stock = #F7F7F7
$spade-fam = #191970 // midnightblue
$diamond-fam = #b22222 // firebrick
$club-fam = #808000 // olive
$heart-fam = #ff8c00 // darkorange
$pcs-black = #333

:root
  --spade-splash: $spade-fam
  --diamond-splash: $diamond-fam
  --club-splash: $club-fam
  --heart-splash: $heart-fam
  --turntable-curtain: rgba($pcs-black, 0.75)
  --card-base: $card-stock
  --pad-dye: $card-table-green

html
  height: 100%
  width: 100%

body
  height: calc(100% - 16px)
  width: calc(100% - 16px)

.pcs-container
  height: 100%
  width: 100%

  & .title-marqee
    height: 10%
    width: 100%
    
    & h2
      margin: 0
    
  & .closeup
    height: 85%
    width: 100%

.closeup
  & .pad
    display: flex
    height: 100%
    flex-flow: row wrap
    justify-content: space-evenly
    padding: 0
    list-style: none
    width: 100%
    background-color: var(--pad-dye)
    
    &:has(+ :popover-open)
      pointer-events: none
  
    & li
      height: fit-content
      cursor: pointer

      span
        font-size: 108px
        background-color: var(--card-base)

.turntable-container
  &::backdrop
    background-color: var(--turntable-curtain)

.turntable
  display: flex
  flex-flow: column wrap
  height: fit-content
  padding: 0px 27px 27px
  justify-content: center
  width: fit-content

  &-pickup
    font-size: 216px
    cursor: default
    user-select: none
  
  &-close
    width: 25%
    align-self: flex-end
    margin-right: -25px
  
  &-cue-lever
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: space-around

    & button
      width: 25%
  
  & button
    cursor: pointer

.spade
  color: var(--spade-splash)
