// colors
$card-table-green = #1c5e3d
$card-stock = #F7F7F7
$spade-fam = #191970 // midnightblue
$diamond-fam = #b22222 // firebrick
$club-fam = #808000 // olive
$heart-fam = #ff8c00 // darkorange
$pcs-black = #333

// spacing and layout
card-row-gap()
  calc(100% / 8) // for 4 row

card-col-gap()
  calc(100% / 26) // for 13 col


:root
  --spade-splash: $spade-fam
  --diamond-splash: $diamond-fam
  --club-splash: $club-fam
  --heart-splash: $heart-fam
  --turntable-curtain: rgba($pcs-black, 0.75)
  --turntable-curtain-blend: rgba($pcs-black, 0.375)
  --card-base: $card-stock
  --pad-dye: $card-table-green

html
  height: 100%
  width: 100%

body
  height: calc(100% - 16px)
  width: calc(100% - 16px)

.pcs-container
  height: 100%
  width: 100%

  & .title-marqee
    height: 10%
    width: 100%

    & h2
      margin: 0

  & .closeup
    height: 85%
    width: 100%
    overflow-y: scroll
    background-color: var(--pad-dye)

.closeup
  & .pad
    display: flex
    height: calc(100% - 18px)
    width: calc(100% - 18px)
    padding: 9px
    margin: 0
    font-size: 108px
    background-color: var(--pad-dye)
    list-style: none
    flex-flow: row wrap
    justify-content: space-evenly
    gap: card-row-gap() card-col-gap()

    &:has(+ :popover-open)
      pointer-events: none

    & li
      cursor: pointer

.turntable-container
  background-color: var(--pad-dye)
  border-color: var(--turntable-curtain-blend)

  &::backdrop
    background-color: var(--turntable-curtain)
    backdrop-filter: blur(3px)

.turntable
  display: flex
  height: fit-content
  width: fit-content
  padding: 0px 27px 27px
  background-color: var(--pad-dye)
  flex-flow: column wrap
  justify-content: center
  gap: 18px

  &-pickup
    padding-top: 9px
    font-size: 216px
    cursor: default
    user-select: none

  &-close
    width: 25%
    margin-right: -25px
    margin-bottom: 9px
    align-self: flex-end

  &-cue-lever
    display: flex
    width: 100%
    margin-top: 9px
    flex-flow: row nowrap
    justify-content: space-around

    & button
      width: 25%

  & button
    cursor: pointer

.spade
  color: var(--spade-splash)
.diamond
  color: var(--diamond-splash)
.club
  color: var(--club-splash)
.heart
  color: var(--heart-splash)

.playing-card
  display: inline-flex
  height: fit-content
  aspect-ratio: 5/7
  border-radius: 4.5%
  padding: 4.5px 1.125px 2.25px
  line-height: 0
  background-color: var(--card-base)
  justify-content: center
  align-items: center
  