@import 'color/palette.styl'
@import 'typography/_typeset.styl'
@import 'layout/_graph.styl'
@import 'layout/animations.styl'

@import 'typography/pcs_typeset.styl'
@import 'layout/pcs_graph.styl'


#title-marquee h2
    user-select: none
    pointer-events: none

main
    background: var(--bg-emerald)
    border-radius: 18px

#pageload-curtain
    border-radius: inherit
    background-color: var(--loading-curtain)

    & .loading-indicator
        background-color: transparent

        & .loading-spinny
            background-color: var(--card-base)
            rotate: 0deg

        & .loading-dots
            color: var(--card-base)
            background-color: inherit
            user-select: none
            pointer-events: none


#tableau
    background-color: inherit
    border-radius: inherit
    list-style: none

    & .playing-card
        cursor: pointer
        rotate: 0deg


/* setup transitions & animations */

#pageload-curtain
    transition-property: opacity
    transition-delay: 0.1s
    transition-duration: 0.2s
    transition-behavior: allow-discrete

    & .loading-indicator .loading-spinny
        animation-name: yo-yo
        animation-delay: 0.4s
        animation-duration: 1.5s
        animation-iteration-count: 36
        animation-timing-function: ease-in-out
        animation-direction: alternate

    & .loading-indicator .loading-dots span
        animation-delay: 0.4s
        animation-duration: 1.5s
        animation-iteration-count: 36
        animation-timing-function: ease-out
        animation-direction: alternate
        color: var(--card-base)

        &:nth-child(1)
            animation-name: dotdot-dot
        &:nth-child(2)
            animation-name: dotdot-dotdot
        &:nth-child(3)
            animation-name: dotdot-dotdotdot

    &.loading-done
        visibility: hidden
        opacity: 0
        z-index: -1

        /* Or just glob like '& > *' */
        & .loading-indicator .loading-spinny,
        & .loading-indicator .loading-dots span
            animation-play-state: paused


#tableau
    & .playing-card
        animation-name: card-drop
        animation-duration: 0.25s
        animation-timing-function: ease-out
        animation-fill-mode: backwards
        transition: rotate 0.2s

    &.hide-before-load
        display: none


@starting-style
    #pageload-curtain .loading-indicator .loading-spinny
        rotate: 0deg

    .loading-indicator .loading-dots span
        opacity: 0

    #tableau .playing-card
        rotate: 0deg
        opacity: 1


@media (hover: hover)
    #tableau .playing-card:hover
        rotate: -9deg
