PROJECT_DIR=$(dirname $1)
SOURCES_DIR=$PROJECT_DIR/source

CONTENT_DIR="$SOURCES_DIR/content"
PRESENTATION_DIR="$SOURCES_DIR/presentation"
BEHAVIOR_DIR="$SOURCES_DIR/behavior"
BUILD_DIR="$PROJECT_DIR/build"

DIST_DIR="$PROJECT_DIR/distribution"
COMMON_DIR="$DIST_DIR/common"
DEMO_DIR="$DIST_DIR/demo"

ROLLUP_CONFIG="$PROJECT_DIR/rollup.config.mjs"


export PROJECT_DIR
export CONTENT_DIR
export PRESENTATION_DIR
export BEHAVIOR_DIR
export BUILD_DIR
export DIST_DIR
export COMMON_DIR
export DEMO_DIR
export ROLLUP_CONFIG

LOCALHOST_PORT=54321
LHOST_HOST="http://localhost:$LOCALHOST_PORT/"
OCTOCAT_HOST="https://bharrisaplus.github.io/pcs_web/"
OCTOCAT_HOST_DIR="$PROJECT_DIR/docs"
DEMO_FILE_HOST="file:///$DEMO_DIR/"

export LOCALHOST_PORT
export LHOST_HOST
export OCTOCAT_HOST
export OCTOCAT_HOST_DIR
export DEMO_FILE_HOST


APPLE_TOUCH_ICON_NAME="apple-touch-icon.png"
FAVICON_32_NAME="favicon-32x32.png"
FAVICON_32_ALT_NAME="favicon-32x32-alt.png"
FAVICON_16_NAME="favicon-16x16.png"
FAVICON_16_ALT_NAME="favicon-16x16-alt.png"
FAVICON_ICO_NAME="favicon.ico"
FAVICON_ICO_ALT_NAME="favicon-alt.ico"
FAVICON_ANDROID_CHROME_192_NAME="android-chrome-192x192.png"
FAVICON_ANDROID_CHROME_512_NAME="android-chrome-512x512.png"
VENDOR_CSS_RESET_NAME="reset.css"
VENDOR_CHANCEJS_NAME="chance.js"
VENDOR_HTML2CANVAS_NAME="html2canvas.js"
CSS_MAIN_NAME="main.css"
ES_MAIN_NAME="main.js"
BROWSERCONFIG_NAME="browserconfig.xml"
WEBMANIFEST_NAME="site.webmanifest"

export APPLE_TOUCH_ICON_NAME
export FAVICON_32_NAME
export FAVICON_32_ALT_NAME
export FAVICON_16_NAME
export FAVICON_16_ALT_NAME
export FAVICON_ICO_NAME
export FAVICON_ICO_ALT_NAME
export FAVICON_ANDROID_CHROME_192_NAME
export FAVICON_ANDROID_CHROME_512_NAME
export VENDOR_CSS_RESET_NAME
export VENDOR_CHANCEJS_NAME
export VENDOR_HTML2CANVAS_NAME
export CSS_MAIN_NAME
export ES_MAIN_NAME
export BROWSERCONFIG_NAME
export WEBMANIFEST_NAME
