PROJECT_DIR=$(dirname $1)
SOURCES_DIR=$PROJECT_DIR/source

CONTENT_DIR="$SOURCES_DIR/content"
PRESENTATION_DIR="$SOURCES_DIR/presentation"
BEHAVIOR_DIR="$SOURCES_DIR/behavior"
BUILD_DIR="$PROJECT_DIR/build"

DIST_DIR="$PROJECT_DIR/distribution"
COMMON_DIR="$DIST_DIR/common"
DEMO_DIR="$DIST_DIR/demo"

ROLLUP_CONFIG="$PROJECT_DIR/rollup.config.mjs"


export PROJECT_DIR
export CONTENT_DIR
export PRESENTATION_DIR
export BEHAVIOR_DIR
export BUILD_DIR
export DIST_DIR
export COMMON_DIR
export DEMO_DIR
export ROLLUP_CONFIG

LOCALHOST_PORT=8080
PAGES_HOST="https://bharrisaplus.github.io/pcs_web"
PAGES_HOST_DIR="$PROJECT_DIR/docs"
DEMO_FILE_HOST="file:///$DEMO_DIR/"

export LOCALHOST_PORT
export PAGES_HOST
export PAGES_HOST_DIR
export DEMO_FILE_HOST