# NPM packages and binaries
node_modules

# built resources
distribution/demo
distribution/2026_*
!distribution/.gitkeep
coverage
test/stories/_td.mjs
test/stories/_z.mjs
test/stories/_a.mjs
.brwud

# Pages hosting
docs/**/*
!docs/.gitkeep

distribution/octocat/**/*
!distribution/octocat/.gitkeep
