# NPM packages and binaries
node_modules

# built resources
distribution/demo
!distribution/.gitkeep

# Pages hosting
docs/**/*
!docs/.gitkeep

distribution/octocat/**/*
!distribution/octocat/.gitkeep
