# NPM packages and binaries
node_modules

# built resources
distribution/demo
distribution/2026_*
!distribution/.gitkeep
coverage

# Pages hosting
docs/**/*
!docs/.gitkeep

distribution/octocat/**/*
!distribution/octocat/.gitkeep
