@import '../preface.styl'

:root
    font: normal 16px/1 monospace

body:has(#tableau-panel)
    position: relative
    display: flex
    height: calc(100% - 1rem)
    width: calc(100% - 1rem)
    margin: 0.5rem
    overflow: hidden
    justify-content: center
    align-items: center
    background-color: #EC924E

    & header
        position: absolute
        top: 1rem
        left: 1rem

        & h1
            font-size: 1.5rem


#tableau-panel
    display: flex
    height: calc(100% - 0.5rem)
    max-height: calc(100% - 0.5rem)
    width: calc(100% - 0.5rem)
    max-width: calc(100% - 0.5rem)
    border-width: 0
    border-radius: 9px
    justify-content: center
    align-items: center
    background-color: rgba(236, 186, 78, 0.45)

    & .subject-membrane
        display: flex
        height: 450px
        min-height: 450px
        max-height: 90%
        width: 850px
        min-width: 150px
        max-width: 90%
        overflow: hidden
        resize: both
        justify-content: center
        align-items: center
        border-width: 0
        border-radius: 18px
        outline-width: 2px
        outline-style: dashed
        outline-color: rgba(236, 107, 78, 0.63)

        & iframe
            height: calc(100% - 2rem)
            max-height: calc(100% - 2rem)
            width: calc(100% - 2rem)
            max-width: calc(100% - 2rem)

    &:has(#runtest + #a11ycheck)
        position: relative
        z-index: 0

#test-overlay
    display: none
    height: 100%
    width: 100%
    position: absolute
    justify-content: center
    align-items: center
    border-radius: 18px
    background-color: rgba(50, 50, 50, 0.81)
    pointer-events: none

    &.lower
        display: flex
        z-index: 1

    & h2
        font-size: 1.25rem
        color: rgb(205, 205, 205)

#ctrl-band
    display: flex
    max-height: 54px
    max-width: 90%
    position: absolute
    right: 1rem
    bottom: 1rem
    z-index: 2
    padding: 0.5625rem
    flex-direction: row-reverse
    gap: 0 0.5625rem
    background-color: transparent
    border-width: 0
    outline-width: 1px
    outline-style: dotted
    outline-color: rgba(236, 107, 78, 0.63)
    /* property | duration | easing | behavior */
    transition: opacity 0.75s ease-in-out allow-discrete

    &.load-curtain
        opacity: 0

    & button
        max-height: 36px
        translate: 0 0
        padding: 4px 8px
        font-size: 1.125rem
        border-width: 0
        border-radius: 4.5px
        box-shadow: 3px 3px rgba(50,50,50, 0.5)
        color: #FAFAFA
        background-color: #ec6b4e

        &:active
            box-shadow: 2px 2px rgba(50,50,50, 0.5)
            translate: 0 1.5px

        &:hover
            cursor: pointer

        &:disabled
            color: #333
            cursor: auto


@starting-style
    #ctrl-band
        opacity: 0
