$base-font-size = 16px
$base-font-families = 'Monaco', monospace

:root
    --normal-size: 16px
    --medium-size: 1.125rem // 16 * 1.125 = 18px

    --basic-font-stack: $base-font-families

    --regular-weight: 400
    --light-weight: 300
    --medium-weight: 550
    --heavy-weight: 700

    font: normal var(--normal-size)/1 var(--basic-font-stack)
