
#ribbon [role="tooltip"]
    font-size: 0.81rem // ~13px
    text-align: center

#brush select
    font-size: 0.81rem
    text-align: start

#shuffle
    font-size: var(--medium-size)

#claw
    & button
        font-size: var(--medium-size)
        font-weight: var(--medium-weight)
        text-align: center
        
        &.claw-img
            font-size: calc(var(--medium-size) + 2px)

    & .claw-drop
        text-decoration: none
        text-align: start
        font-family: monospace
        font-size: 0.85rem



#pageload-curtain .loading-indicator .loading-dots
    font-family: monospace
    font-size: var(--medium-size)
    text-align: center

#turntable .turntable-off
    font-size: 1rem

#turntable .turntable-cue-lever-spacer
    font-size: 1.5rem

#turntable .turntable-cue-lever button
    font-size: 0.85rem
    font-family: sans-serif
