
#brush
    & select
        font-size: 0.81rem
        text-align: center

#claw
    & button
        font-size: var(--medium-size)
        font-weight: var(--medium-weight)
        text-align: center


#pageload-curtain .loading-indicator .loading-dots
    font-family: monospace
    font-size: var(--medium-size)
    text-align: center

#turntable .turntable-off
    font-size: 1rem

#turntable .turntable-cue-lever-spacer
    font-size: 1.5rem

#turntable .turntable-cue-lever button
    font-size: 0.85rem
    font-family: sans-serif
