doctype html
html(lang="en")
    head
        title pcs demo
        meta(charset="UTF-8")

        //- Viewport
        meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        //- Robots
        meta(name="robots" content="index, follow")

        //- Styles
        link(id="fucdec" rel="stylesheet" href="main.css")

    body
        .pcs-container
            .title-marqee
                h2 (P)seudo (C)ard (S)huffler
            .closeup
                ol.pad
                    li
                        span 🂡
                    li
                        span 🂢 
                    li
                        span 🂣 
                    li
                        span 🂤
                    li
                        span 🂥
                    li
                        span 🂦
                    li
                        span 🂧
                    li
                        span 🂨
                    li
                        span 🂩
                    li
                        span 🂪
                    li
                        span 🂫
                    li
                        span 🂭
                    li
                        span 🂮
                    li
                        span 🂿 
                    li
                        span 🃟 

                .centerpiece-container(popover)
                    .centerpiece
                        button.centerpiece-close
                            | x
                        span.centerpiece-content
                        div.centerpiece-controls
                            button.centerpiece-controls-previous
                                | ◄
                            button.centerpiece-controls-next
                                | ►

        footer
            script(id="fucdec" src="main.js" defer)
