html
    height: 100%
    width: 100%

body
    height: calc(100% - 16px)
    width: calc(100% - 16px)
    margin: 8px

header
    display: flex
    height: 10%
    width: 100%
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

main
    display: flex
    height: 87%
    width: 100%
    justify-content: center
    align-items: center
