
#title-marquee
    display: flex
    gap: 9px
    align-items: center

    & #pcs-logo
        height: 24px
        width: 24px


main
    & > .loading-indicator-container
        height: 100%
        width: 100%