@import './story_preface.main.styl'


body:has(#turntable-conte)
    display: flex
    overflow: hidden
    justify-content: center
    align-items: center
    background-color: #4ecfec

#turntable-conte
    display: flex
    width: 100%
    height: 100%
    border-width: 0
    border-radius: 9px
    justify-content: center
    align-items: center
    background-color: rgba(99, 236, 78, 0.25)

button#loadit
    max-height: 36px
    translate: 0 0
    padding: 4px 8px
    font-size: 18px
    border-width: 0
    border-radius: 4.5px
    box-shadow: 3px 3px rgba(50,50,50, 0.5)
    color: #FAFAFA
    background-color: #ec6b4e
    /* property | duration | easing | behavior */
    transition: opacity 0.45s ease-in-out allow-discrete

    &:active
        box-shadow: 2px 2px rgba(50,50,50, 0.5)
        translate: 0 1.5px

    &:hover
        cursor: pointer

@starting-style
    button#loadit
        opacity: 0
