:root {
  --spade-splash: #191970;
  --diamond-splash: #b22222;
  --club-splash: #808000;
  --heart-splash: #ff8c00;
  --turntable-curtain: rgba(51,51,51,0.75);
  --turntable-curtain-blend: rgba(51,51,51,0.375);
  --card-base: #f7f7f7;
  --pad-dye: #1c5e3d;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
}
.pcs-container {
  height: 100%;
  width: 100%;
}
.pcs-container .title-marqee {
  height: 10%;
  width: 100%;
}
.pcs-container .title-marqee h2 {
  margin: 0;
}
.pcs-container .closeup {
  height: 85%;
  width: 100%;
}
.closeup .pad {
  padding: 9px;
  height: calc(100% - 18px);
  width: calc(100% - 18px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  background-color: var(--pad-dye);
  margin: 0;
  overflow: hidden scroll;
  gap: calc(100% / 8) calc(100% / 26);
  font-size: 108px;
}
.closeup .pad:has(+ :popover-open) {
  pointer-events: none;
}
.closeup .pad li {
  display: inline-flex;
  height: fit-content;
  line-height: 0;
  aspect-ratio: 5/7;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--card-base);
  border-radius: 4.5%;
  padding: 4.5px 1.125px 2.25px;
}
.turntable-container {
  background-color: var(--pad-dye);
  border-color: var(--turntable-curtain-blend);
}
.turntable-container::backdrop {
  background-color: var(--turntable-curtain);
}
.turntable {
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
  padding: 0px 27px 27px;
  justify-content: center;
  width: fit-content;
  background-color: var(--pad-dye);
  gap: 18px;
}
.turntable-pickup {
  font-size: 216px;
  cursor: default;
  user-select: none;
  display: inline-flex;
  height: fit-content;
  line-height: 0;
  aspect-ratio: 5/7;
  justify-content: center;
  align-items: center;
  background-color: var(--card-base);
  border-radius: 4.5%;
  padding: 9px 1.125px 2.25px;
}
.turntable-close {
  width: 25%;
  align-self: flex-end;
  margin-right: -25px;
}
.turntable-cue-lever {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.turntable-cue-lever button {
  width: 25%;
}
.turntable button {
  cursor: pointer;
}
.spade {
  color: var(--spade-splash);
}
.diamond {
  color: var(--diamond-splash);
}
.club {
  color: var(--club-splash);
}
.heart {
  color: var(--heart-splash);
}
