html {
  height: 100%;
  width: 100%;
}
body {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
}
.container {
  height: 100%;
  width: 100%;
}
.meh {
  height: 10%;
  width: 100%;
}
.closeup {
  height: 85%;
  width: 100%;
}
.closeup .pad {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  width: 100%;
}
.closeup .pad li {
  height: fit-content;
}
.closeup .pad li span {
  font-size: 108px;
}
.centerpiece-container::backdrop {
  background-color: rgba(51,51,51,0.75);
}
.centerpiece {
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
  padding: 0px 27px 27px;
  justify-content: center;
  width: fit-content;
}
.centerpiece .centerpiece-content {
  font-size: 216px;
}
.centerpiece .centerpiece-close {
  width: 25%;
  align-self: flex-end;
  margin-right: -25px;
}
.centerpiece .centerpiece-controls {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.centerpiece .centerpiece-controls button {
  width: 25%;
}
